* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  
}

.container {
  margin: 0px 20px;
  max-width: 500px;
  width: auto;
}

.is-hidden {
  display: none !important;
}

@font-face {
  font-family: StolzlBond;
  src: url("../src/fonts/Stolzl/stolzl_bold.otf");
}

@font-face {
  font-family: StolzlBook;
  src: url("../src/fonts/Stolzl/stolzl_book.otf");
}

@font-face {
  font-family: StolzlLight;
  src: url("../src/fonts/Stolzl/stolzl_light.otf");
}

@font-face {
  font-family: StolzlMedium;
  src: url("../src/fonts/Stolzl/stolzl_medium.otf");
}

@font-face {
  font-family: StolzlRegular;
  src: url("../src/fonts/Stolzl/stolzl_regular.otf");
}

@font-face {
  font-family: StolzlThin;
  src: url("../src/fonts/Stolzl/stolzl_thin.otf");
}